outbound mail settings for kleider.ca
	

Please note there is a limit of 50 recipients (to/cc/bcc) per message
Outbound mail status:	ENABLED
Username:	kleider.ca
Today's message count:	1 [view SMTP usage statistics]
Daily limit:	250 [purchase additional capacity]
Outbound mailserver:	mailout.easydns.com
Available ports (TLS optional):	25, 465 (SSL), 587, 2025, 2026, 20025, 20026

SSL (Secure Sockets Layer) is a deprecated predecessor to 
TLS (Transport Layer Security)

